<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>./tests/OutsideIn/Tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>./tests/OutsideIn/Tests/Integration/</directory>
        </testsuite>
    </testsuites>
    <listeners>
        <listener class="\OutsideIn\Tests\Integration\ContainerTestListener"/>
        <listener class="\Mockery\Adapter\Phpunit\TestListener"
                  file="vendor/mockery/mockery/library/Mockery/Adapter/Phpunit/TestListener.php">
        </listener>
    </listeners>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
